<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="post">
            {% csrf_token %}
            <label for="nm">Name:</label>
            <input type="text" id="nm" name="name"><br><br>
            <label for="pno">PhoneNo:</label>
            <input type="text" id="pno" name="pno"><br><br>
            <label for="un">UserName:</label>
            <input type="text" id="un" name="un"><br><br>
            <label for="pw">Password:</label>
            <input type="text" id="pw" name="pw"><br><br>
            <label for="cpw">Confirm Password:</label>
            <input type="text" id="cpw" name="cpw"><br><br>
            <input type="submit" value="register">
        </form>
    </center>
    
</body>
</html>